# PostgreSQL Database Connection String for Prisma
DATABASE_URL="postgresql://postgres:password@localhost:5432/house_of_edtech?schema=public"

# Secret token key for signing JWTs
JWT_SECRET="generate-a-secure-jwt-signing-secret-key-phrase"

# Vercel AI SDK Gemini Integration Key
GEMINI_API_KEY="AIzaSyYourGeminiAPIKeyHere"
